/* Background */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #dff1ff, #9dc7ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center Wrapper */
.auth-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Glassmorphism Card */
.auth-card {
  width: 380px;
  background: rgba(255, 255, 255, 0.13);
  padding: 40px 30px;
  border-radius: 18px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-logo {
  width: 140px;
  margin-bottom: 10px;
}

h2 {
  color: #0a1b3c;
  font-size: 28px;
}

.auth-sub {
  color: #444;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px 14px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.9);
}

.auth-btn {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  border: none;
  background: #ff7b2e;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.auth-btn:hover {
  background: #ff5900;
  box-shadow: 0 0 15px rgba(255, 110, 60, 0.8);
}

.switch-text {
  margin-top: 16px;
}

.switch-text a {
  color: #ff5400;
  text-decoration: none;
  font-weight: 600;
}
